@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br />
<p>
    Need to be added to the ExperienceIT classroom?
</p>

<address>
    <strong>Email the facilitator:</strong>   <a href="mailto:experienceitdetroit@gmail.com">experienceitdetroit@gmail.com</a><br />
</address>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".adminCanSee").hide();
        });
    </script>
}