@{
    ViewBag.Title = "Home Page";
    var loginStatus = "";
    if (Request.IsAuthenticated)
    {
        loginStatus = "Logged in";
    }
    else
    {
        loginStatus = "Logged out";
    }
}


<div class="jumbotron">
    <h1>@loginStatus</h1>
    @if (TempData["denied"] != null)
    {
        <h2 id="denied">@TempData["denied"]</h2>
    }
</div>