@{
    ViewBag.Title = "Home Page";
    var loginStatus = "";
    if (Request.IsAuthenticated)
    {
        loginStatus = "Logged in";
    }
    else
    {
        loginStatus = "Login now to experience IT";
    }
}


<div class="jumbotron">
    <strong><em>@loginStatus</em></strong>
    @if (TempData["denied"] != null)
    {
        <h2 id="denied">@TempData["denied"]</h2>
    }
</div>