@{
    ViewBag.Title = "Program Overview";
}
<h2>@ViewBag.Title</h2>
<br />
<p> <strong>COURSE DESCRIPTION /</strong><br />
    ExperienceIT is a game-changing partnership between leading tech companies, workforce agencies, and educational institutions - working together to teach, train, and prepare the next generation of technology professionals in Detroit! This course seeks to teach technical skills to individuals interested in entering the field. <br />
</p>
<br />
<p> <strong> LEARNING OBJECTIVES /</strong><br />
    1. Utilize a variety of development tools such as Visual Studio, VSTS, and GIT <br />
    2. Code basic functionality of a web application using the following languages: C#, HTML, and CSS <br />
    3. Apply standard object-oriented programming functionality, test-driven development practices, and agile methodology <br />
    4. Build a basic web application from start to finish <br />
</p>
<br />
<p> <strong>REQUIRED MATERIALS /</strong><br />
    1. Laptop <br />
    2. Internet access <br />
    3. Gmail account <br />
    4. GitHub account ("GitHub" should be linked here) <br />
</p>

@section scripts
{
}