body {
    background: url(Detroit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

pre {
    color: white;
    background-color: black;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    color: white;
    background-color: black;
    padding: 50px 50px;
    opacity: 0.7;
    border-radius: 20px;
    border: 1px groove gray;
    margin: 150px auto;
}

.navbar-inverse {
    background-color: black;
    opacity: 0.7;
}

.my-logo {
    background: url(ExperienceITLogo.png) no-repeat;
    background-size: cover;
    display: block;
    width: 237px;
    height: 50px;
}

footer {
    color: gray;
    left: 20px;
    bottom: 20px;
}

.navbar-default {
    background-color: black;
  
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 600px;
    color:white;
    background-color:black;
}

#login {
    text-align: right;
}

.td {
    vertical-align: middle;
}

.form-control {
    color:white;
    background-color: black;
}